<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0" metadata-complete="false">

    <display-name>LightAdmin Sandbox</display-name>

    <description>LightAdmin - Administration framework for Java web applications.</description>

    <context-param>
        <param-name>light:configurer:base-url</param-name>
        <param-value>/logger</param-value>
    </context-param>

    <context-param>
        <param-name>light:configurer:back-to-site-url</param-name>
        <param-value>http://lightadmin.org</param-value>
    </context-param>

    <context-param>
        <param-name>light:administration:base-url</param-name>
        <param-value>/</param-value>
    </context-param>

    <context-param>
        <param-name>light:administration:security</param-name>
        <param-value>true</param-value>
    </context-param>

    <context-param>
        <param-name>light:administration:security-logout-url</param-name>
        <param-value>/logout</param-value>
    </context-param>

    <context-param>
        <param-name>light:administration:back-to-site-url</param-name>
        <param-value>http://lightadmin.org</param-value>
    </context-param>

    <context-param>
        <param-name>light:administration:help-url</param-name>
        <param-value>http://lightadmin.org/getting-started/</param-value>
    </context-param>

    <context-param>
        <param-name>light:administration:base-package</param-name>
        <param-value>org.lightadmin.demo.config</param-value>
    </context-param>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath*:/spring/spring-*.xml</param-value>
    </context-param>

    <context-param>
        <param-name>spring.profiles.active</param-name>
        <param-value>development</param-value>
    </context-param>
    
    <context-param>
        <param-name>webAppRootKey</param-name>
        <param-value>webapp.root</param-value>
    </context-param>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <listener>
        <listener-class>org.springframework.web.util.WebAppRootListener</listener-class>
    </listener>

    <listener>
        <listener-class>ch.qos.logback.classic.selector.servlet.ContextDetachingSCL</listener-class>
    </listener>
    <!-- Druid web 统计过滤器-->
    <filter>
        <filter-name>DruidWebStatFilter</filter-name>
        <filter-class>com.alibaba.druid.support.http.WebStatFilter</filter-class>
        <init-param>
            <param-name>exclusions</param-name>
            <param-value>*.js,*.gif,*.jpg,*.png,*.css,*.ico,/druid/*</param-value>
        </init-param>
        <init-param>
            <param-name>principalSessionName</param-name>
            <param-value>AuthorizedUserID</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>DruidWebStatFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <!-- Druid 前台监控servlet -->
    <servlet>
        <servlet-name>DruidStatView</servlet-name>
        <servlet-class>com.alibaba.druid.support.http.StatViewServlet</servlet-class>
        <!--<init-param>
            <param-name>loginUsername</param-name>
            <param-value>admin</param-value>
        </init-param>
        <init-param>
            <param-name>loginPassword</param-name>
            <param-value>sinobest2015</param-value>
        </init-param>-->
    </servlet>
    <servlet-mapping>
        <servlet-name>DruidStatView</servlet-name>
        <url-pattern>/druid/*</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>admin</welcome-file>
    </welcome-file-list>

    <session-config>
        <session-timeout>60</session-timeout>
    </session-config>

</web-app>